---
---

/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

 @import "../styleguide/layout/layout";
 @import "../styleguide/card/card";
 @import '../styleguide/typography/typography';


body {
	margin: 0;
	padding: 0;
}


.Layout-content {
	background: #fafafa;
	padding: 40px 10px 20px 10px;
}

@media screen and (min-width: 851px) {
	.Layout--fixedDrawer > .Layout-content {
		margin-left: 200px;
		padding-left: 40px;

	}
	
	.Content-container {
		max-width: 700px; 
		padding: 10px 50px;
		box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
		background: white;
	}
}

@media screen and (max-width: 851px) {
	.Content-container  {
		background: white;
		padding: 10px 10px;
		margin: 0;
	}
}



 h3 {
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #5DD7F4;
	text-align: center;
	border-bottom: 1px dotted gray;
	margin-bottom: 20px;
}

.Layout-title a {
	font-weight: bold;
	color: #BEBEBE;
	text-decoration: none;
}

.Layout-drawerButton {
	background: white;
	margin: 0px;
	padding: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
	border-radius: 10px;
	color: Green;
}


.Layout-drawer {
	width: 200px;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.23);
	background: white;
}

.Card-container {
	display: inline-block;
	margin-right: 50px;
}

h3 a,h3 {
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(174, 37, 37);
	text-decoration: none;
}

h3 a:hover {
	text-decoration: underline;
}

h4 {
	color: #ff5252;
	padding-top: 10px;
	padding-bottom: 5px;
}

h5 {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
		padding-top: 8px;
	padding-bottom: 4px;
	
}

.Card {
	margin: 20px;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	width: 100%;
	max-width: 300px;
	min-width: 270px;
	border-radius: 2px;
}


.Card-nopic .Card-lower {
	height: 328px;
}

.Card-imgContainer {
	background: white;
}

.Card-heading {
	height: 60px;
}

.Card-heading span {
	height: 60px;
}

.Card-lower {
	height: 142px;
}

.Card-bottom {
	border-top: 1px solid #ebebeb;
}
.Card-bottom a {
	border: 0px;
	width: auto;
	font-weight: 700;
	color: green;
	text-decoration: underline;
}
