---
---

/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

 @import "../styleguide/layout/layout";
  @import "../styleguide/card/card";


main {
  padding: 20px;
}

body {
	margin: 0;
	padding: 0;
}


.Layout-content {
	background: #fafafa;
	padding: 40px 20px 20px 40px;
}

@media screen and (min-width: 851px) {
	.Layout--fixedDrawer > .Layout-content {
		margin-left: 200px;
		padding-left: 40px;

	}
}



.Content-container {
	max-width: 600px; 
}

.Layout-title a {
	font-weight: bold;
	color: #BEBEBE;
	text-decoration: none;
}

/*
.Layout-drawer .Layout-navigation li a {
	font-weight: 300;
	color: #424242;
	text-decoration: none;
}*/

.Layout-drawer {
	width: 200px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
	background: white;
}

h4 {
	color: #ff5252;
}

h5 {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	
}

.Card {
	margin: 20px;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	width: 100%;
	max-width: 330px;
	min-width: 270px;
	border-radius: 2px;
}


.Card-nopic .Card-lower {
	height: 328px;
}

.Card-imgContainer {
	background: white;
}

.Card-heading {
	height: 60px;
}

.Card-heading span {
	height: 60px;
}

.Card-lower {
	height: 142px;
}

.Card-bottom {
	border-top: 1px solid #ebebeb;
}
.Card-bottom a {
	border: 0px;
	width: auto;
}
