<core-header-panel id="sideHeaderPanel" drawer mode="cover" shadow>

	<core-toolbar class="medium-tall">

		<span class="bottom title"><a href="/">Girish Varma</a></span>			

	</core-toolbar>
		
		<paper-item><a href="/about">About Me</a></paper-item>
		<paper-item><a href="/cv">CV</a></paper-item>
		<paper-item><a href="/research">Research</a></paper-item>
<!--		<paper-item><a href="/code">Code</a></paper-item>
		<paper-item><a href="/photography">Photography</a></paper-item> -->
		<paper-item><a href="/contact">Contact</a></paper-item>
		
</core-header-panel>
